/* FONTS */

@font-face{
    font-family: "BenceSans";
    src: 
        url("BenceSans.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

/* GENERAL STUFF */

html{
	margin: 0;
	padding: 0;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    scroll-behavior: smooth;
}

body, main{
	width: 100%;
	margin: 0;
}

*, *::after, *::before {
    box-sizing:border-box;  
}

[hidden] {
    display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a{
    color: inherit;
    text-decoration: underline dashed 0.075em;
}

a:hover{
    text-decoration: underline solid 0.075em;
}

button{
    cursor: pointer;
}

/* PAGE SPECIFIC */

*{
    font-family: "BenceSans", cursive;
}

html{
    text-align: center;
    height: 100vh;
}

@media (prefers-color-scheme: dark) {
    html{
        color: white;
        background-color: black;
    }
}

body{
    margin: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#home main{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1{
    font-size: 3em;
    margin: 0;
}

li{
    list-style-type: none;
    display: inline;
}

button{
    border: none;
    background: none;
    padding: 0;
    text-decoration: underline dashed 0.075em;
    font-size: inherit;
    color: inherit;
}

button:hover{
    text-decoration: underline solid 0.075em;
}

menu, ul{
    padding: 0;
}

header{
    margin: 2em;
}

header p{
    margin: 0 auto;
    font-size: 1.4em;
    max-width: 40em;
}

.toolbar-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100rem;
    margin: auto;
    padding: 0 1em;
    font-size: 1.2em;
}

@media (min-width: 768px) {
    .toolbar-layout li:not(:last-child)::after {
        content: "·";
        margin-left: 0.5em;
        color: inherit;
    }
}

@media (max-width: 767px) {
    menu, ul{
        display: flex;
        flex-direction: column;
    }

    ul *{
        text-align: right;
    }

    menu{
        text-align: left;
    }
}

menu button[aria-current="true"]{
    font-weight: bold;
}

#home #chart-section{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 100rem;
    margin: auto;
    padding: 0 1em;
}

#home .chart-wrapper{
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;
}

#home table{
    height: 100%;
    display: inline;
    text-align: left;
    overflow: scroll;
}

#about main{
    text-align: left;
    margin: 0;
}

#about main section:not(:first-of-type){
    margin: auto;
    width: fit-content;
    padding: 0 1em;
}

#about main p{
    max-width: 40em;
}

footer{
    margin: 0.5em;
}

footer p{
    margin: 0.5em;
}